.container {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 32px 32px;
  max-width: 1536px;
  margin: 0 auto;
  width: 100%;
  min-height: 0;
}

@media (max-width: 768px) {
  .main {
    padding: 32px 16px;
  }
}
